.card {
  border: 2px solid #ebeeff;
  border-radius: 1rem; /* 1rem = 16px*/
  margin: 2rem;
  padding: 15px;
  width: 200px;
}

.card > img {
  width: 100px;
  height: 150px;
}
.card > h2 {
  max-width: 16rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.tags {
  flex-wrap: wrap;
  /* gap: 0.5rem; */
  margin-bottom: 1.5rem;
  justify-content: center;
}