.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #ebeeff;
  color: #000000;
}
.button {
  font-weight: 600;
  color: #000000;
  text-decoration: none;
}
.button:hover {
  color: #ff8800;
}